*{
    height: 100%;
    margin:0;
    padding: 0;}
body{
    background-size:cover;
    background-image: url(../images/xx-bg.png) ;
    background-repeat : no-repeat;
}
.box{
    position:relative;
}
.img-box{
    width: 359px;
    height: 431px;
    margin: 80px 0 80px 220px;
    position: absolute;
}
.img-box img{
    position: absolute;
    width: 359px;
    height: 431px;
    top: 0;
    left: 0;
}
.XX{
    display:block;
}
.btn-box{
    position: absolute;
    float:left;
    width: 240px;
    height: 350px;
    margin: 80px 0px 80px 750px;
}
.btn-box button{
    border:0px;
    cursor:pointer;
    width: 240px;
    height: 49px;
    font-size: 28px;
    margin: 100px 15px -20px 15px;
    /*color: #4c8bf5;*/
    outline: none;
}
#BW{
    background: url("../images/btn-gray.png");
    color:rgb(137,184,193);
}
#XX{
    background: url("../images/btn-blue.png")no-repeat;
    color:#000000;
}