body,html{
    height: 100%;
    margin: 0;
}
nav{
    background-color: rgba(255,250,250,0.7);
}
body{
    background-image: url(../image/ba1.jpg) ;
    background-repeat : repeat;
}

h1 {
    margin: 0 0 1px 0;
    color:rgb(180,90,150);
    padding: 6px 0 0 20px;
    font-size:450%;
}
ul {
    margin: 2px 0 22px 17px;}
ul li {
    list-style-type: circle;
    margin: 0 0 0 0;
    padding: 0 0 4px 5px;}
#main {
    width: 950px;
    margin: 20px auto;}

header {
    width: 950px;
    height: 105px;}
#logo {
    width: 950px;
    float: left;
    height: 100px;
    background: transparent;
    padding: 0;}

#site_content {
    width: 950px;
    overflow: hidden;
    margin: 4px auto 0 auto;
    padding: 0;}
ul.slideshow {
    width: 950px;
    height: 662px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;}
ul.slideshow li {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    list-style: none;}
ul.slideshow li.show {
    z-index: 200;}
ul img {
    border: none;}
#slideshow-caption {
    width: 950px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200;}

#slideshow-caption .slideshow-caption-container {
    padding: 20px 25px 0 25px;
    z-index: 500;}

#slideshow-caption p {
    padding: 0;
    font: normal 130% arial, sans-serif;}


html body ul.sf-menu ul,html body ul.sf-menu ul li {
    width: 180px;}

html body ul.sf-menu ul ul {
    margin: 0 0 0 180px;}

ul.sf-menu,ul.sf-menu * {
    margin: 0;
    padding: 0;}
/*使它左浮动*/
ul.sf-menu li {
    display: block;
    list-style: none;
    float: left;
    position: relative;}
ul.sf-menu a {
    display: block;
    position: relative;}
nav {
    height: 44px;
    width: 950px;
    float: right;
    margin: -10px auto 10px auto;
    border-radius: 7px 7px 7px 7px;
}
ul#nav li a {
    padding: 8px 25px 6px 25px;
    font: 130% arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2px;
    color:rgb(150,60,120);
}
input{
    height: 20px;
    width: 200px;/*设置input输入框的长和宽*/
    font-size: 18px;/*设置字体大小*/
    border-radius: 6px;/*将输入框的四个直角改为四个半径为6px的圆角*/
}
button{
    float: left;
    font-weight:bold;
    border-top-left-radius:0.5em;/*圆角边框弧度*/
    border-top-right-radius:0.5em;/*圆角边框弧度*/
    border-bottom-left-radius:0.5em;/*圆角边框弧度*/
    border-bottom-right-radius:0.5em;/*圆角边框弧度*/
    cursor: pointer;/*鼠标的形状*/
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);/*给按钮增加阴影*/
    background-color:#EAEAEA;
    color:rgb(150,60,120);
    height: 24px;
    width: 50px;
}
button:hover{
    background-color: rgb(216,212,177);
    color: #3070e0;
}
#search{
    margin:10px 0px 6px 300px;
    width:auto;
    height:38px;
    float: left;
}
label{color:rgb(150,60,120);
font-weight: bold;}
.end{
    width: 950px;
    height:45px;
    background-color: rgba(255,250,250,0.7);
    color:rgb(150,60,120);
}
.end p{
    font-size: 18px;
    margin:0px 0px 0px 500px;
}
.line{
    width:950px;
    height:5px;
    background-color: rgba(249,192,170,0.5);
}
.content{
    width: 950px;
    height: 662px;
    background-color: rgba(255,250,250,0.8);
    border-radius: 14px 14px 14px 14px;
    z-index: 500;
    position:relative;
    padding: 45px;}

.byA{
    width: 200px;
    height: 300px;
    position:relative;
}
.album{
    width: 200px;
    height: 200px;
    background-color: rgba(249,192,170,0.32);
    border-radius: 10px 10px;
}
.album:hover{
    background-color: rgba(249,192,170,0.6);
}

.byA a{
    position:absolute;
    margin:210px auto 0 auto;
    width:200px;
    text-align: center;
    text-decoration:none;
    color:rgb(150,60,120);
    font-weight: bold;
    cursor: pointer;
}
#look{
    position: absolute;
    margin:0;
    padding: 20px;
}
#look li{
    list-style: none;
    padding:0;
}

/*about2*/
.content2 {
    width: 950px;
    /*height: 662px;*/
    background-color: rgba(255, 250, 250, 0.8);
    border-radius: 14px 14px 14px 14px;
    z-index: 500;
    position: relative;
    padding: 45px;
}
.item{
    margin: 16px 0;
    padding:0;
    width:860px;
    height:120px;
    position:relative;
}
.item img{
    width:100px;
    height: 100px;
    margin:10px;
}
.kuang{
    position:absolute;
    margin:0 30px;
    width:120px;
    height: 120px;
    background-color: rgba(249,192,170,0.32);
    border-radius: 10px 10px;
    z-index:555;
    cursor: pointer;
}
.kuang:hover{
    background-color: rgba(249,192,170,0.6);
}
.kuang img:hover{
    width: 400px;
    height: 400px;
    padding: 0;
    border:10px solid rgba(249,192,170,0.3);
    z-index:1000;

}
.message{
    width:620px;
    height: 100px;
    position:absolute;
    margin:10px 30px 10px 200px;
    background-color: rgba(249,192,170,0.32);
    border-radius: 10px 10px;
    color:rgb(150,60,120);
    z-index:500;
}
.cmenue{
    width:791px;
    height:25px;
    position:absolute;
    margin:-25px auto 15px 30px;
    background-color: rgba(249,192,170,0.6);
    border-radius: 10px 10px;
}
.cmenue p{
    color:rgb(150,60,120);
    font-size: 16px;
    text-align: center;
}
.p1{
    position:absolute;
    width:120px;
    margin:4px 0;
}
.p2{
    position:absolute;
    width:620px;
    margin:3px 0 3px 180px;
}
.empty{
    position:relative;
    margin:200px 0 0 0;
}
/*预览*/
#back{
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    opacity:0.4;
    background-color:#000;
    z-index:999;
    display:none;
}
#box{
    opacity:0.8;
    background-color:#000;
    /*定位到中间*/
    position:fixed;
    top: 10%;
    left:25%;
    width: 50%;
    height: 80%;
    z-index:1000;
    display:none;
}
#img-box img{
    position:absolute;
    margin:20px 90px;
    width:450px;
    height:450px;
    display:none;
    z-index:1003;
}
#box button{
    width: 35px;
    height: 35px;
    position:absolute;
    z-index:1001;
    border:0px;
    cursor:pointer;
    outline:none;
}
#last{
    margin:35% 1.5%;
    background: url("../image/last.png");
}
#next{
    margin:35% 0 45% 93%;
    background: url("../image/next.png");
}

